#hp_authen_modal {
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    .container {
        width: 100%;
        height: 100%;
        background: rgba(0,0,0, 0.6);
        display: flex;
        justify-content: center;
        align-items: center;
        .content {
            width: 300px;
            background: #fff;
            border: 1px solid #00BC70;
            border-radius: 10px;
            overflow: hidden;
            padding: 30px 20px;
            text-align: center;
            .title {
                width: 100%;
                display: flex;
                justify-content: center;
                flex-flow: column nowrap;
                align-items: center;
                h2 {
                    width: 100%;
                    padding-top: 5px;
                    font-size: 26px;
                    font-weight: 600;
                    color: #00BC70;
                    line-height: 120%;
                }
                h3 {
                    font-size: 18px;
                    font-weight: 500;
                    color: #333;
                }
            }
            .text_box {
                width: 100%;
                padding-top: 20px;
                li {
                    width: 100%;
                    padding-top: 10px;
                    &:last-child {
                        padding-bottom: 20px;
                    }
                    h4 {
                        font-size: 14px;
                        font-weight: 500;
                        color: #333;
                    }
                }
            }
            button {
                width: 80%;
                height: 30px;
                border: 1px solid #ddd;
                border-radius: 10px;
                background: #fff;
                color: #333;
                cursor: pointer;
                &:hover {
                    background: #00BC70;
                    border: 1px solid #00BC70;
                    color: #fff;
                }
            }
        }
    }
}