#hp_update_modal {
    width: 100%;
    .container {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1005;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.25);
        overflow: hidden;
        .view {
            position: relative;
            display: inline-block;
            width: 800px;
            height: 100%;
            max-height: 400px;
            background: #fff;
            overflow: hidden;
            .header_box {
                width: 800px;
                height: 65px;
                padding: 0 20px;
                border-bottom: 1px solid #ddd;
                display: flex;
                justify-content: space-between;
                align-items: center;
                h1 {
                    font-size: 20px;
                    font-weight: 600;
                    color: #000;
                    line-height: 140%;
                }
                a {
                    display: inline-block;
                    img {
                        width: 24px;
                        height: 24px;
                    }
                }
            }
            .content {
                position: relative;
                display: inline-block;
                width: 800px;
                height: 100%;
                max-height: 350px;
                text-align: left;
                background: #fff;
                overflow: hidden;
                padding: 20px;
                
                .sub_title {
                    width: 100%;
                    span {
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 120%;
                        color: #333;
                    }
                }
                .center {
                    width: 100%;
                    padding: 10px 20px;
                    margin-top: 10px;
                    border-bottom: 1px solid #666;
                    border-top: 1px solid #666;
                    .input_box {
                        width: 100%;
                        margin: 15px 0;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        height: 40px;
                        h2 {
                            height: 100%;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 240%;
                            color: #000;
                        }
                        input {
                            width: 65%;
                            height: 100%;
                            padding: 0 15px;
                            outline: 1px;
                            outline-offset: 1px;
                        }
                        button {
                            height: 100%;
                            width: 60px;
                            padding: 0 13px;
                            background: #fff;
                            border: 1px solid #000;
                            border-radius: 3px;
                            font-size: 14px;
                            font-weight: 600;
                            cursor: pointer;
                            transition: all 0.2s ease-in-out;
                            &:hover {
                                background: #00bc70;
                                border: 1px solid #00bc70;
                                color: #fff;
                            }
                        }
                    }
                }
                .bottom {
                    width: 100%;
                    text-align: center;
                    margin: 15px 0;
                    span {
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 120%;
                        color: #333;
                    }
                }
            }
            .button_box {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: 60px;
                padding: 20px;
                background: #00bc70;
                text-align: center;
                display: block;
                button {
                    width: 100%;
                    font-size: 16px;
                    font-weight: 600;
                    color: #fff;
                    line-height: 130%;
                    border: 0;
                    background: transparent;
                    cursor: pointer;
                }
            }
        }
    }   
}
        