#sign_out {
    width: 100%;
    .container {
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        .gap {
            padding: 0 200px;
            .title {
                width: 100%;
                margin: 70px 0 20px 0 ;
                h1 {
                    font-size: 22px;
                    font-weight: 500;
                    color: #000;
                    padding-bottom: 10px;
                }
                p {
                    margin-bottom: 5px;
                    font-size: 13px;
                    font-weight: 400;
                    color: #888;
                }
            }
            .service_box {
                width: 100%;
                .sub_title {
                    width: 100%;
                    display: block;
                    margin: 20px 0 50px 0;
                    border-bottom: 2px solid #000;
                    &.pw {
                        margin: 20px 0 0 0;
                    }
                }
                .content {
                    width: 100%;
                    form {
                        width: 100%;
                        .alert_box {
                            > ul {
                                width: 100%;
                                position: relative;
                                > li {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    height: 70px;
                                    border-bottom: 0;
                                    img {
                                        width: 60px;
                                        height: 60px;
                                        margin-top: 20px;
                                    }
                                    span {
                                        font-size: 24px;
                                        font-weight: 400;
                                        color: #000;
                                        line-height: 140%;
                                        padding: 15px 0;
                                    }
                                    p {
                                        text-align: center;
                                        font-size: 14px;
                                        line-height: 130%;
                                        color: #666;
                                        font-weight: 400;
                                    }
                                }
                            }
                            .info_box {
                                width: 100%;
                                background: #FCFCFD;
                                border: 1px solid #eee;
                                margin: 20px 0 60px 0;
                                padding: 30px 40px;
                                > ul {
                                    width: 100%;
                                    > .info_li {
                                        width: 100%;
                                        margin-top: 10px;
                                        display: flex;
                                        flex-flow: column nowrap;
                                        justify-content: flex-start;
                                        text-align: left;
                                        line-height: 130%;
                                        letter-spacing: -1px;
                                        h4 {
                                            font-size: 14px;
                                            font-weight: 500;
                                            color: #222;
                                        }
                                        span {
                                            font-size: 14px;
                                            font-weight: 400;
                                            color: #222;
                                        }
                                    }
                                }
                            }
                        }
                        .input_box {
                            width: 100%;
                            > li {
                                display: flex;
                                justify-content: flex-start;
                                // align-items: center;
                                border-bottom: 1px solid #bbb;
                                > h2 {
                                    width: 170px;
                                    padding: 24px 30px;
                                    font-size: 14px;
                                    font-weight: 400;
                                    color: #333;
                                    vertical-align: top;
                                }
                                > input {
                                    margin-top: 10px;
                                    width: 210px;
                                    height: 40px;
                                    padding: 0 15px;
                                }
                                > ul.radio_box {
                                    width: 100%;
                                    margin-top: 20px;
                                    > li {
                                        width: 100%;
                                        margin-bottom: 10px;
                                        label {
                                            width: 100%;
                                            > input {
                                                appearance: none;
                                                width: 20px;
                                                height: 23px;
                                                padding: 0 20px;
                                                border-radius: 3px;
                                                background: url(../../../../public/images/icon_radio_off.png) no-repeat 50% 50%;
                                                cursor: pointer;
                                                &:checked {
                                                    background: url(../../../../public/images/icon_radio_on.png) no-repeat 50% 50%;
                                                }
                                            }
                                            span {
                                                font-size: 16px;
                                                font-weight: 400;
                                                color: #333;
                                            }
                                        }
                                        textarea {
                                            width: 100%;
                                            height: 120px;
                                            overflow: auto;
                                            padding: 15px;
                                            border: 1px solid #eee;
                                            border-radius: 3px;
                                            font-size: 14px;
                                            resize: none;
                                            color: #222;
                                            outline: 1px solid transparent;
                                            transition: all 0.3s;
                                            outline-offset: -1px;
                                            margin-bottom: 20px;
                                            &:focus {
                                                outline-color: #777;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .update_button_box {
                            width: 100%;
                            margin: 30px 0 60px 0;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            button {
                                width: 150px;
                                height: 50px;
                                padding: 0 30px;
                                border: 1px solid #00bc70;
                                border-radius: 5px;
                                background: #00bc70;
                                color: #fff;
                                font-size: 16px;
                                font-weight: 600;
                                cursor: pointer;
                                margin-right: 10px;
                            }
                            a {
                                width: 150px;
                                height: 50px;
                                border: 1px solid #000;
                                border-radius: 5px;
                                background: #fff;
                                color: #000;
                                font-size: 16px;
                                font-weight: 500;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                        }
                    }
                    .signOut {
                        width: 100%;
                        height: 100px;
                        margin: 80px 0 0 0;
                        background: #FCFCFD;
                        border: 1px solid #eee;
                        .container {
                            width: 100%;
                            padding: 30px 0;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            span {
                                font-size: 14px;
                                font-weight: 400;
                                color: #888;
                                line-height: 130%;
                            }
                            button {
                                width: 70px;
                                height: 30px;
                                color: #000;
                                border: 1px solid #000;
                                border-radius: 3px;
                                background: #fff;
                                font-size: 11px;
                                font-weight: 600;
                                margin-left: 20px;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
}