@mixin input {
    width: 100%;
    padding: 0 15px;
    height: 50px;
    border: 1px solid #eee;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -1.5px;
    color: #333;
    &:focus {
    outline: 3px solid #0A40D5;
    outline-style: dotted;
    outline-offset: 1px;
    }
}

@mixin del_button {
    display: none;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 20%;
    right: 10px;
    background: transparent;
    border: 0;
    img {
        width: 15px;
        height: 15px;
    }
}


#search {
    width: 100%;
    height: 55px;
    position: fixed;
    z-index: 5;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 0 30px 0 rgba(255,255,255,0.9);
    .container {
        max-width: 520px;
        margin: 0 auto;
        .header_box {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            height: 54px;
            h2 {
                width: 100%;
                font-size: 18px;
                font-weight: 500;
                position: relative;
                text-align: center;
            }
            button {
                display: block;
                position: absolute;
                z-index: 1;
                width: 60px;
                height: 54px;
                top: 0;
                left: 0;
                background: transparent;
                border: 0;
                cursor: pointer;
                img {
                    width: 20px;
                    height: 20px;
                }
                &:focus {
                    outline: 3px solid #0A40D5;
                    outline-style: dotted;
                    outline-offset: 1px;
                }
                &.big_close {
                    left: 88%;
                }
            }
        }
        .content {
            width: 100%;
            padding: 10px 20px 40px 20px;
            .title {
                width: 100%;
                text-align: left;
                margin: 20px 0 5px 0;
                &.kakao_login {
                    text-align: center;
                    line-height: 180%;
                    h1 {
                        font-size: 25px;
                    }
                }
                h1 {
                    font-size: 23px;
                    font-weight: 700;
                    color: #000;
                    line-height: 120%;
                    &.title_text {
                        font-size: 23px;
                    }
                }
                h2 {
                    font-size: 18px;
                    font-weight: 500;
                    color: #333;
                    padding: 20px 0 15px 0;
                    line-height: 140%;
                    &.signup_text {
                        padding-bottom: 40px;
                    }
                }
                strong {
                    font-size: 18px;
                    font-weight: 500;
                    color: #222;
                }
            }
            form {
                width: 100%;
                .form_box {
                    width: 100%;
                    li {
                        width: 100%;
                        margin-bottom: 12px;
                        position: relative;
                        input {
                            @include input();
                        }
                        .del_btn {
                            @include del_button();
                        }
                        p {
                            padding: 0;
                            font-size: 0;
                            font-weight: 400;
                            color: #e60f0f;
                            &.on {
                                padding: 10px 0 20px 0;
                                font-size: 14px;
                                font-weight: 400;
                                color: #e60f0f;
                            }
                        }
                    }
                    .gap {
                        width: 100%;
                        height: 0.5px;
                        background: #eee;
                        margin: 30px 0;
                    }
                    .authen_btn {
                        width: 100%;
                        height: 80px;
                        padding: 0 30px 0 20px;
                        display: flex;
                        align-items: center;
                        position: relative;
                        background: #eee;
                        margin-top: 15px;
                        border: 1px solid #ddd;
                        border-radius: 6px;
                        &::after {
                            content: "";
                            position: absolute;
                            top: 40%;
                            right: 20px;
                            width: 15px;
                            height: 16px;
                            opacity: 0.3;
                            background: url(../../../../public/images/sub/search/icon_right_arrow.png) no-repeat 50% 50%;   
                        }
                        &.kakao_btn {
                            background: #ffe500;
                            display: flex;
                            justify-content: center;
                            height: 65px;
                            overflow: hidden;
                            border: 1px solid #ffe500;
                            border-radius: 8px;
                            img {
                                width: 22px;
                                height: 20px;
                            }
                            button {
                                text-align: center;
                                color: #333;
                            }
                            &::after {
                                content:"";
                                right: 2000px;
                            }
                        }
                        img {
                            margin-right: 15px;
                            width: 29px;
                            height: 45px;
                        }
                        button {
                            background: transparent;
                            border: 0;
                            font-size: 18px;
                            font-weight: 600;
                            color: #aaa;
                        }
                    }
                    .login_btn {
                        width: 100%;
                        button {
                            width: 100%;
                            height: 55px;
                            background: #f0f0f0;
                            border: 1px solid #f0f0f0;
                            color: #bbb;
                            border-radius: 6px;
                            cursor: not-allowed;
                            font-size: 18px;
                        }
                    }
                    > .button_box {
                        width: 100%;
                        > button {
                            width: 100%;
                            height: 52px;
                            padding: 0 30px 0 20px;
                            display: flex;
                            align-items: center;
                            position: relative;
                            background: #eee;
                            margin-top: 15px;
                            border: 1px solid #ddd;
                            border-radius: 6px;
                            text-align: center;
                            cursor: pointer;
                            position: relative;
                            span {
                                position: absolute;
                                top: 25%;
                                left: 37%;
                                font-size: 18px;
                                font-weight: 400;
                                color: #ccc;
                            }
                            &.on {
                                background: #00BC70;
                                border: 1px solid #00BC70;
                                span {
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
            .gap {
                width: 100%;
                height: 0.5px;
                background: #eee;
                margin: 30px 0 -10px 0;
            }
            .signUp_btn {
                width: 100%;
                height: 55px;
                background: #fff;
                border: 1px solid #bbb;
                border-radius: 4px;
                padding: 0 20px;
                margin-top: 40px;
                // &.kakao_btn {
                //     background: #ffe500;
                //     display: flex;
                //     justify-content: center;
                //     align-items: center;
                //     height: 65px;
                //     border: 1px solid #ffe500;
                //     border-radius: 8px;
                //     img {
                //         width: 22px;
                //         height: 20px;
                //         text-align: left;
                //         margin-right: 10px;
                //     }
                //     span {
                //         text-align: center;
                //         font-size: 18px;
                //         font-weight: 400;
                //         color: #333;
                //     }
                // }
                a {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    span {
                        font-size: 16px;
                        font-weight: 600;
                        color: #333;
                    }
                    strong {
                        position: relative;
                        font-size: 16px;
                        font-weight: 700;
                        color: #222;
                        padding-right: 12px;
                        &::after {  
                            content: "";
                            position: absolute;
                            top: 25%;
                            right: 0;
                            width: 12px;
                            height: 12px;
                            background: url(../../../../public/images/sub/signIn/icon_right_arrow.png) no-repeat 50% 50%;
                        }
                    }
                }
            }
        }
    }
}