#signup_form {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: #fff;
    overflow-y: auto;
    box-shadow: 0 0 30px 0 rgba(255,255,255,0.9);
    .container {
        width: 100%;
        max-width: 520px;
        margin: 0 auto;
        padding: 10px 20px 40px 20px;
        .header_box {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            height: 54px;
            z-index: 300;
            background: #fff;
            h2 {
                width: 100%;
                font-size: 18px;
                font-weight: 500;
                position: relative;
                text-align: center;
            }
            button {
                display: block;
                position: absolute;
                z-index: 1;
                width: 60px;
                height: 54px;
                top: 0;
                right: 0;
                background: transparent;
                border: 0;
                cursor: pointer;
                img {
                    width: 20px;
                    height: 20px;
                }
                &.left_box {
                    left: 10px;
                }
            }
        }
        .binding_box {
            width: 100%;
            background: #f8f8f8;
            border: 1px solid #e5e5e5;
            border-radius: 6px;
            margin: 55px 0 20px 0;
            padding: 17px;
            .title {
                width: 100%;
                h1 {
                    display: block;
                    text-align: left;
                    font-size: 18px;
                    font-weight: 700;
                    color: #333;
                    padding-bottom: 12px;
                    border-bottom: 1px solid #e5e5e5;
                    margin-bottom: 15px;
                }
                ul {
                    width: 100%;
                    li {
                        display: flex;
                        width: 100%;
                        margin-top: 15px;
                        em {
                            width: 40%;
                            font-size: 16px;
                            color: #898989;
                        }
                        h2 {
                            width: 50%;
                            font-size: 16px;
                            font-weight: 500;
                            color: #333;
                        }
                    }
                }
            }
        }
        .content {
            width: 100%;
            form {
                width: 100%;
                position: relative;
                > .form_box {
                    width: 100%;
                    > li {
                        width: 100%;
                        position: relative;
                        .input_box {
                            width: 100%;
                            input {
                                width: 100%;
                                height: 50px;
                                color: #252525;
                                border: 1px solid #e6e6e6;
                                border-radius: 6px;
                                padding: 0 15px;
                                background: #fff;
                                font-size: 15px;
                                font-weight: 500;
                                color: #333;
                                letter-spacing: -1px;
                                margin: 10px 0;
                                &.input_obj {
                                    width: 80%;
                                    height: 50px;
                                    color: #252525;
                                    border: 1px solid #e6e6e6;
                                    border-radius: 6px;
                                    padding: 0 15px;
                                    background: #fff;
                                    font-size: 15px;
                                    font-weight: 500;
                                    color: #333;
                                    letter-spacing: -1px;
                                    margin: 10px 0;
                                }
                            }
                            > .duplicationButton_box {
                                position: absolute;
                                z-index: 2;
                                right: 0;
                                top: 10px;
                                width: 18%;
                                height: 50px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                cursor: pointer;
                                .duplication_btn {
                                    background: #fff;
                                    width: 100%;
                                    height: 100%;
                                    border: 1px solid #ddd;
                                    border-radius: 10px;
                                    color: #333;
                                    font-size: 14px;
                                    cursor: pointer;
                                    transition: all 0.2s ease-in-out;
                                    &:hover {
                                        font-weight: 500;
                                        color: #fff;
                                        background: #00BC70;
                                    }
                                    &.off {
                                        background: #f0f0f0;
                                        border: 1px solid #f0f0f0;
                                        color: #bbb;
                                    }
                                    &.fix {
                                        background: #00BC70;
                                        border: 1px solid #00BC70;
                                        color: #fff;
                                    }
                                }
                            }
                        }
                        .hide_text_box {
                            .hide_text {
                                font-size: 0;
                                color: #fff;
                                padding: 0;
                                line-height: 0;
                                &.red {
                                    font-size: 13px;
                                    padding: 8px 0;
                                    line-height: 140%;
                                    color: #f03f40;
                                }
                                &.green {
                                    font-size: 13px;
                                    padding: 8px 0;
                                    line-height: 140%;
                                    color: #00BC70;
                                }
                            }
                        }
                        .info_box {
                            width: auto;
                            margin: 30px 0 35px 0;
                            display: flex;
                            justify-content: end;
                            align-items: center;
                            img {
                                width: 18px;
                                height: 18px;
                                margin-right: 8px;
                            }   
                            span {
                                font-size: 15px;
                                font-weight: 400;
                                color: #333;
                                letter-spacing: -1px;
                                padding-bottom: 5px;
                                border-bottom: 1px solid #333;
                            }
                        }
                        .info_sub_box {
                            width: 100%;
                            position: absolute;
                            top: 40px;
                            left: 0;
                            z-index: 5;
                            background: #f7f7f7;
                            border: 1px solid #f7f7f7;
                            > li {
                                width: 100%;
                                position: relative;
                                padding: 4px 0;
                                h3 {
                                    padding-left: 20px;
                                    font-size: 12px;
                                    font-weight: 500;
                                    color: #555;
                                }
                                p { 
                                    padding: 7px 0 0 20px;
                                    font-size: 10px;
                                    font-weight: 400;
                                    color: #666;
                                }
                                &:first-child {
                                    display: flex;
                                    align-content: center;
                                    justify-content: space-between;
                                    padding-bottom: 5px;
                                    h2 {
                                        padding-left: 10px;
                                        font-size: 18px;
                                        font-weight: 500;
                                        color: #333;
                                    }
                                    button {
                                        width: 14px;
                                        height: 14px;
                                        margin-right: 8px;
                                        border: 0;
                                        background: url(../../../../public/images/sub/signIn/icon_smallClose.png) no-repeat 50% 50%;
                                    }
                                }
                            }
                        }
                        .address {
                            width: 100%;
                            height: 50px;
                            background: #00BC70;
                            border: 1px solid #00BC70;
                            color:#fff;
                            font-weight: 600;
                            font-size: 18px;
                            border-radius: 3px;
                            margin-top: 5px;
                            letter-spacing: 3px;
                            cursor: pointer;
                        }
                    }
                    .agree_box {
                        width: 100%;
                        border: 1px solid #ddd;
                        border-radius: 8px;
                        padding: 10px 20px;
                        > .all_agree_box {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            height: 57px;
                            padding-bottom: 10px;
                            border-bottom: 1px solid #ddd;
                            > label {
                                width: 100%;
                                display: flex;
                                align-items: center;
                                position: relative;
                                > input {
                                    appearance: none;
                                    width: 27px;
                                    height: 27px;
                                    border: 1px solid #bbb;
                                    border-radius: 50%;
                                    background: url(../../../../public/images/sub/signIn/icon_check_none.png) no-repeat 50% 50%;
                                    margin-right: 10px;
                                    &:checked {
                                        background: url(../../../../public/images/sub/btn_check_on.png) no-repeat 50% 50%;
                                        background-size: 27px auto;
                                    }
                                    // &.on {
                                        
                                        // +.show_btn {
                                        //     transform: rotate(180deg);
                                        //     transition: all 0.3s ease-in-out;
                                        // }
                                    // }
                                }
                                > h1 {
                                    font-size: 22px;
                                    font-weight: 700;
                                    color: #00BC70;
                                }
                                > .show_btn {
                                    width: 54px;
                                    height: 100%;
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    background: url(../../../../public/images/sub/icon_top_arrow.png) no-repeat 50% 50%;
                                    border: 0;
                                    background-size: 21px auto;
                                    cursor: pointer;
                                }
                            }
                        }
                        .check_box {
                            width: 100%;
                            padding: 20px 0 0 0;
                            strong {
                                display: block;
                                width: 100%;
                                font-size: 18px;
                                font-weight: 500;
                                color: #00BC70;
                                padding-bottom: 12px;
                            }
                            ul {
                                width: 100%;
                                margin-bottom: 30px;
                                li {
                                    width: 100%;
                                    height: 24px;
                                    margin-bottom: 12px;
                                    label {
                                        width: 100%;
                                        padding-right: 21px;
                                        display: flex;
                                        align-items: center;
                                        position: relative;
                                        > input {
                                            appearance: none;
                                            width: 21px;
                                            height: 21px;
                                            border: 1px solid #bbb;
                                            border-radius: 50%;
                                            background: url(../../../../public/images/sub/signIn/icon_check_none.png) no-repeat 50% 50%;
                                            margin: 0 10px 0 0;
                                            &:checked {
                                            background: url(../../../../public/images/sub/btn_check_on.png) no-repeat 50% 50%;
                                            background-size: 21px auto;
                                            }
                                            &.each_select_non {
                                                margin-left: 20px;
                                            }
                                        }
                                        span {
                                            font-size: 16px;
                                            font-weight: 400;
                                            color: #333;
                                            letter-spacing: -0.8px;
                                        }
                                        button {
                                            position: absolute;
                                            width: 21px;
                                            height: 21px;
                                            top: 12px;
                                            right: 0;
                                            background: url(../../../../public/images/sub/search/icon_right_arrow.png) no-repeat 50% 50%;
                                            border: 0;
                                            background-size: 7px auto;
                                            cursor: pointer;
                                        }
                                    }
                                    p {
                                        display: block;
                                        font-size: 13px;
                                        color: #888;
                                        padding-bottom: 10px;
                                        margin: -1px 0 10px 31px;
                                        letter-spacing: -0.8px;
                                    }
                                    &.info_text {
                                        width: 100%;
                                        position: relative;
                                        a {
                                            display: flex;
                                            justify-content: flex-start;
                                            align-items: center;
                                            img {
                                                width: 18px;
                                                height: 18px;
                                                margin-right: 7px;
                                            }
                                            h3 {
                                                font-size: 15px;
                                                font-weight: 400;
                                                letter-spacing: -0.8px;
                                                color: #000;
                                                padding-bottom: 4px;
                                                border-bottom: 1px solid #000;
                                            }
                                        }
                                        .info_sub_box {
                                            width: 100%;
                                            position: absolute;
                                            top: 40px;
                                            left: 0;
                                            z-index: 5;
                                            background: #f7f7f7;
                                            border: 1px solid #f7f7f7;
                                            > li {
                                                width: 100%;
                                                position: relative;
                                                padding: 4px 0;
                                                h3 {
                                                    padding-left: 20px;
                                                    font-size: 12px;
                                                    font-weight: 500;
                                                    color: #555;
                                                }
                                                &:first-child {
                                                    display: flex;
                                                    align-content: center;
                                                    justify-content: space-between;
                                                    padding-bottom: 5px;
                                                    h2 {
                                                        padding-left: 10px;
                                                        font-size: 18px;
                                                        font-weight: 500;
                                                        color: #333;
                                                    }
                                                    button {
                                                        width: 14px;
                                                        height: 14px;
                                                        margin-right: 8px;
                                                        border: 0;
                                                        background: url(../../../../public/images/sub/signIn/icon_smallClose.png) no-repeat 50% 50%;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .button_box {
                        width: 100%;
                        button {
                            width: 100%;
                            height: 52px;
                            padding: 0 30px 0 20px;
                            display: flex;
                            align-items: center;
                            position: relative;
                            background: #eee;
                            margin-top: 15px;
                            border: 1px solid #ddd;
                            border-radius: 6px;
                            text-align: center;
                            cursor: pointer;
                            position: relative;
                            span {
                                position: absolute;
                                top: 25%;
                                left: 37%;
                                font-size: 18px;
                                font-weight: 400;
                                color: #ccc;
                            }
                            &.on {
                                background: #00BC70;
                                border: 1px solid #00BC70;
                                span {
                                    color: #fff;
                                }
                            }
                        }
                    }
                    em {
                        display: block;
                        width: 100%;
                        margin: 20px 0;
                        font-size: 16px;
                        text-align: center;
                        color: #888;
                    }
                }
            }
        }
    }
}