#sub2{
    width: 100%;
    padding-bottom: 100px;
    user-select: none;
    .location{
        padding: 0;
        width: 100%;
        height: 61px;
        border-bottom: 1px solid #dddddd;
        .ineer-menu{
            width: 1280px;
            height: 100%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            .home{
                a{
                    background: url(../../../../public/images/sub/sub1/ico_location_home.png) no-repeat;
                    display: block;
                    width: 16px;
                    height: 16px;
                }
            }
            .navi{
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                transition: all 0.3s ease-in-out;
                &:hover{
                    ul{
                        display: flex;
                        
                        
                    }
                }
                img{
                    margin: 0 12px;
                    width: 12px;
                    height: 12px;
                }
                button{
                        background: #fff;
                        border: 0;
                        cursor: pointer;
                        color: #000;
                        display: flex;
                        height: 40px;
                        font-size: 12px;
                        align-items: center;
                    img{
                        margin-left: 5px;
                    }
                }
                ul{
                    justify-content: center;
                    display: none;
                    z-index: 4;
                    flex-flow: column;
                    cursor: pointer;
                    position: absolute;
                    overflow: hidden;
                    top: 39px;
                    left: 17px;
                    width: 170px;
                    max-height: px;
                    padding: 10px 0;
                    background: #fff;
                    border: 1px solid #AAAAAA;
                    white-space: nowrap;
                    color: #000;
                    transition: all 0.3s ease-in-out;
                    li{
                        padding: 10px 15px;
                        a{
                            display: block;
                            font-size: 14px;
                            color: #888888;
                            &:hover{
                                color: #00BC70;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
        }
    }
    .container{
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        .title{
            width: 100%;
            display: flex;
            align-items: center;
            h2{
                width: 1280px;
                margin: 60px auto 30px;
                font-weight: 300;
                font-size: 38px;
                line-height: 1.11;
                font-weight: 500;
            }
            button{
                display: flex;
                width: 110px;
                height: 20px;
                align-items: center;
                gap: 5px;
                font-size: 14px;
                line-height: 1.43em;
                letter-spacing: -0.01em;
                color: #000000;
                background: #fff;
                border:0;
                cursor: pointer;
            }
        }
        .top-menu{
            width: 100%;  
            .tab-btn-box{
                display: flex;
                height: 50px;
                margin-bottom: 60px;
                button{
                    background: #fff;
                    height: 100%;
                    font-size: 16px;
                    line-height: 1.43em;
                    overflow: hidden;
                    white-space: noWrap;
                    width: 33.3%;
                    text-align: center;
                    border: 1px solid #eee;
                    color: #666666;
                    font-weight: 600;
                    align-items: center;
                    cursor: pointer;
                    transition: all 0.5s ease-in-out;
                    &.on{
                        border: 1px solid #000;
                        color: #000;
                        &:hover{
                            border: 1px solid #000;
                            color: #000;
                        }
                    }
                    &:hover{
                        color:#00BC70;
                        border: 1px solid #00BC70;
                    }

                }
            }
            .text-box{
                h3{
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 1.33em;
                    letter-spacing: -0.01em;
                    color: #000000;
                }
                p{
                    margin: 10px 0 20px;
                    font-size: 14px;
                    line-height: 1.43em;
                    letter-spacing: -0.01em;
                    color: #999999;
                }
                button{
                    margin-top: 20px;
                    font-size: 16px;
                    line-height: 1.25em;
                    letter-spacing: -0.01em;
                    text-decoration: underline;
                    color: #000000;
                    border: 0;
                    background: #fff;
                    cursor: pointer;
                
                }
            }
        }
        .content{
            ul{
                width: 100%;
                gap: 20px;
                flex-flow: wrap;
                display: flex;
                li{
                    .item{
                        z-index: 2;
                        width: 413px;
                        position: relative;
                        &:hover{
                            a{
                                
                                width: 100%;
                                overflow: hidden;
                                .img-box{
                                    overflow: hidden;
                                    width: 100%;
                                    height: 272px;
                                    border: 1px solid #00BC70;
                                    img{
                                        transform: scale(1.1);
                                        transition: all 0.3s ease-in-out;
                                    }
                                }
                                .text-box{
                                    p{
                                        color: #00BC70;
                                        transition: all 0.3s ease-in-out;
                                    }
                                    span{
                                        color: #00BC70;
                                        transition: all 0.3s ease-in-out;
                                    }
                                }
                            }
                        }
                        a{
                            > span{
                                z-index: 3;
                                position: absolute;
                                top: 0;
                                left: 0;
                                padding: 0 5px;
                                height: 24px;
                                font-size: 14px;
                                line-height: 1.29em;
                                background: #000;
                                color: #fff;
                                text-align: center;
                                align-items: center;
                                border: 1px solid #000;
                            }
                            .img-box{
                                img{
                                    width: 413px;
                                    height: 272px;
                                }
                            }
                            .text-box{
                                p{
                                    display: block;
                                    margin: 20px 0 5px;
                                    font-size: 14px;
                                    line-height: 1.43em;
                                    letter-spacing: -0.01em;
                                    color: #666666;
                                    opacity: 0.8;
                                }
                                span{
                                    margin-top: 5px;
                                    font-weight: 500;
                                    font-size: 16px;
                                    line-height: 1.38em;
                                    color: #000000;
                                    overflow: hidden;
                                }
                            }
                        }
                    }
                }
            }
        }
        .page-box{
            width: 100%;
            margin-top: 60px;
            height: 40px;
            justify-content: center;
            align-items: center;
            display: flex;
            button{
                cursor: pointer;
                width: 40px;
                height: 40px;
                align-items: center;
                text-align: center;
                font-size: 16px;
                line-height: 22px;
                border: 0;
                background: #fff;
                color: #999;
                
                &.on{
                    color: #000;
                    border-bottom: 2px solid #00BC70;
                }
            }
            .prevBtn{
                background: url(../../../../public/images/sub/sub1/arr_last.png) no-repeat;
                width: 40px;
                height: 40px;
                background-size:40px 40px;
                transform: rotate(180deg);
                &.on{
                    display: none;
                }
            }
            .nextBtn{
                background: url(../../../../public/images/sub/sub1/arr_last.png) no-repeat;
                width: 40px;
                height: 40px;
                background-size:40px 40px;
                &.on{
                    display: none;
                }
            }
        }
    }
}