#sub3{
    width: 100%;
    padding-bottom: 100px;
    user-select: none;
    .location{
        padding: 0;
        width: 100%;
        height: 61px;
        border-bottom: 1px solid #dddddd;
        .ineer-menu{
            width: 1280px;
            height: 100%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            .home{
                a{
                    background: url(../../../../public/images/sub/sub1/ico_location_home.png) no-repeat;
                    display: block;
                    width: 16px;
                    height: 16px;
                }
            }
            .navi{
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                transition: all 0.3s ease-in-out;
                &:hover{
                    ul{
                        display: flex;
                        
                        
                    }
                }
                img{
                    margin: 0 12px;
                    width: 12px;
                    height: 12px;
                }
                button{
                        background: #fff;
                        border: 0;
                        cursor: pointer;
                        color: #000;
                        display: flex;
                        height: 40px;
                        font-size: 12px;
                        align-items: center;
                    img{
                        margin-left: 5px;
                    }
                }
                ul{
                    justify-content: center;
                    display: none;
                    z-index: 4;
                    flex-flow: column;
                    cursor: pointer;
                    position: absolute;
                    overflow: hidden;
                    top: 39px;
                    left: 17px;
                    width: 170px;
                    max-height: px;
                    padding: 10px 0;
                    background: #fff;
                    border: 1px solid #AAAAAA;
                    white-space: nowrap;
                    color: #000;
                    transition: all 0.3s ease-in-out;
                    li{
                        padding: 10px 15px;
                        a{
                            display: block;
                            font-size: 14px;
                            color: #888888;
                            &:hover{
                                color: #00BC70;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
        }
    }
    .container{
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        .title{
            width: 100%;
            display: flex;
            align-items: center;
            h2{
                width: 1280px;
                margin: 60px auto 30px;
                font-weight: 300;
                font-size: 38px;
                line-height: 1.11;
                font-weight: 500;
            }
        }
        .top-menu{
            width: 100%;  
            .tab-btn-box{
                display: flex;
                height: 50px;
                margin-bottom: 60px;
                button{
                    background: #fff;
                    height: 100%;
                    font-size: 16px;
                    line-height: 1.43em;
                    overflow: hidden;
                    white-space: noWrap;
                    width: 33.3%;
                    text-align: center;
                    border: 1px solid #eee;
                    color: #666666;
                    font-weight: 600;
                    align-items: center;
                    cursor: pointer;
                    transition: all 0.5s ease-in-out;
                    &.on{
                        border: 1px solid #000;
                        color: #000;
                        &:hover{
                            border: 1px solid #000;
                            color: #000;
                        }
                    }
                    &:hover{
                        color:#00BC70;
                        border: 1px solid #00BC70;
                    }

                }
            }
            .text-box{
                h3{
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 1.33em;
                    letter-spacing: -0.01em;
                    color: #000000;
                }
                p{
                    margin: 10px 0 20px;
                    font-size: 14px;
                    line-height: 1.43em;
                    letter-spacing: -0.01em;
                    color: #999999;
                }
                button{
                    margin-top: 20px;
                    font-size: 16px;
                    line-height: 1.25em;
                    letter-spacing: -0.01em;
                    text-decoration: underline;
                    color: #000000;
                    border: 0;
                    background: #fff;
                    cursor: pointer;
                
                }
            }
        }
        .tab-bar{
            margin-bottom: 25px;
            justify-content: space-between;
            display: flex;
            flex-wrap: wrap;
            ul{
                gap: 10px;
                display: flex;
                li{
                    button{
                        display: block;
                        padding: 6px 20px;
                        border: 1px solid #f5f5f5;
                        border-radius: 16px;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 1.29;
                        color: #999E9C;
                        white-space: nowrap;
                        cursor: pointer;
                        background: #F5F5F5;
                        transition: color 0.75s, border-color 0.75s, background-color 0.75s;
                        &:hover{
                            border: 1px solid #00BC70;
                            color: #00BC70;
                        }
                        &.on{
                            color: #000;
                            border: 1px solid #000;
                        }
                    }
                }
            }
            span{
                font-size: 14px;
                line-height: 1.43em;
                letter-spacing: -0.01em;
                color: #999999;

            }
        }
        .content{
            .non-list{
                display: flex;
                flex-flow: column;
                width: 100%;
                margin: 150px 0 350px 0;
                height: 100px;
                text-align: center;
                img{
                    margin: 0 610px 20px 610px;
                    width: 60px;
                    height: 60px;
                }
                p{
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 1.25em;
                    color: #000000;
                }
            }
            .product-list{
                width: 100%;
                margin-bottom: 100px;
                .head{
                    width: 100%;
                    h3{
                        font-weight: 600;
                        font-size: 24px;
                        line-height: 1.33em;
                        letter-spacing: -0.01em;
                        color: #000000;
                    }
                }
                ul{
                    gap: 40px 20px;
                    width: 100%;
                    flex-flow: wrap;
                    margin-top: 40px;
                    display: flex;
                    li{
                        .item{
                            a{
                                .img-box{
                                    overflow: hidden;
                                    z-index: 2;
                                    position: relative;
                                    width: 240px;
                                    height: 320px;
                                    &:hover{
                                        .hover-img{
                                            overflow: hidden;
                                            display: block;
                                            position: absolute;
                                            left: 0;
                                            width: 100%;
                                            height: 100%;
                                            transform: translateY(-50%);
                                            transition: all 0.3s ease-in-out, opacity 0.5s ease-in-out;
                                            opacity: 1;
                                            img{
                                                position: absolute;
                                                left: 0;
                                                top: 50%;
                                                transform: translateY(-50%);
                                                background: #fff;
                                            }
                                        }
                                        .hover-btn{
                                            gap: 45px;
                                            display: flex;
                                            transform: translateY(-100%);
                                            position: absolute;
                                            align-items: center;
                                            justify-content: center;
                                            z-index: 3;
                                            background-color: #00BC70;
                                            transition: all 0.3s ease-in-out;
                                            cursor: pointer;
                                            button{
                                                width: 32px;
                                                height: 32px;
                                                border: 0;
                                                &:nth-child(1){
                                                    background: url(../../../../public/images/sub/sub1/icon_heart_white.png) no-repeat;
                                                }
                                                &:nth-child(2){
                                                    background: url(../../../../public/images/sub/sub1/icon_cart_white.png) no-repeat;
                                                }
                                                &:nth-child(3){
                                                    background: url(../../../../public/images/sub/sub1/icon_buy_white.png) no-repeat;
                                                }
                                            }
                                        }
                                    }
                                    img{
                                        top: 0;
                                        left: 0;
                                        position: absolute;
                                        width: 240px;
                                        height: 320px;
                                    }
                                    .hover-img{
                                        position: absolute;
                                        opacity: 0;
                                        top:50%;
                                        left:0;
                                        overflow: hidden;
                                    
                                    }
                                    .rank{
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        span{
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                            width: 32px;
                                            height: 32px;
                                            padding: 0;
                                            font-weight: 500;
                                            font-size: 14px;
                                            color: #FFFFFF;
                                            background-color: #000000;
                                        }
                                    }
                                    .hover-btn{
                                        gap: 45px;
                                        display: flex;
                                        height: 60px;
                                        width: 100%;
                                        bottom: -60px;
                                        position: absolute;
                                        align-items: center;
                                        justify-content: center;
                                        z-index: 4;
                                        background-color: #00BC70;
                                        transition: all 0.3s ease-in-out;
                                        cursor: pointer;
                                        button{
                                            width: 32px;
                                            height: 32px;
                                            border: 0;
                                            &:nth-child(1){
                                                background: url(../../../../public/images/sub/sub1/icon_heart_white.png) no-repeat;
                                            }
                                            &:nth-child(2){
                                                background: url(../../../../public/images/sub/sub1/icon_cart_white.png) no-repeat;
                                            }
                                            &:nth-child(3){
                                                background: url(../../../../public/images/sub/sub1/icon_buy_white.png) no-repeat;
                                            }
                                        }
                                    }
                                    
                                }
                            }
                        }
                        .info{
                            width: 240px;
                            a{
                                display: flex;
                                flex-flow: wrap;
                                .product-name{
                                    font-weight: 400;
                                    font-size: 14px;
                                    line-height: 1.43em;
                                    color: #666666;
                                    strong{
                                        vertical-align: top;
                                        width: auto;
                                        height: auto;
                                        font-weight: 600;
                                        text-transform: uppercase;
                                    }
                                }
                                .price{
                                    margin-top: 10px;
                                    align-items: center;
                                    text-align: center;
                                    display: flex;
                                    strong{
                                        font-weight: 700;
                                        font-size: 20px;
                                        line-height: 1.2em;
                                        color: #000;
                                    }
                                    span{
                                        margin-left: 10px;
                                        font-weight: 300;
                                        font-size: 20px;
                                        line-height: 1.2em;
                                        color: #FF0000;
                                    
                                    }
                                    p{
                                        margin-left: 15px;
                                        font-weight: 300;
                                        font-size: 14px;
                                        line-height: 1.29em;
                                        text-decoration-line: line-through;
                                        color: #999;
                                        letter-spacing: 0;
                                    }
                                }
                                .present{
                                    width: 100%;
                                    margin-top: 20px;
                                    span{
                                        display: inline-flex;
                                        align-items: center;
                                        height: 18px;
                                        padding: 0 5px;
                                        font-weight: 500;
                                        font-size: 10px;
                                        line-height: 1.4em;
                                        letter-spacing: 0;
                                        color: #00BC70;
                                        background: #E0FBF0;
                                    }
                                }
                                .star-grade{
                                    margin-top: 15px;
                                    i{font-size: 12px; margin-right: 5px;}
                                    span{font-size: 12px; line-height: 1.33em;color: #999E9C;}
                                }
                            }
                        }
                    }
                }
            }
            .event-slide{
                position: relative;
                margin: 100px 0;
                width: 100%;
                .slide-container{
                    width: 100%;
                    .slide-view{
                        width: 100%;
                        overflow: hidden;
                        .swiper{
                            width: 100%;
                            overflow: hidden;
                            user-select: none;
                            .swiper-wrapper{
                                width: 415px;
                                height: 340px;
                                display: flex;
                                .swiper-slide{
                                    width: 415px;
                                    height: 340px;
                                }
                            }
                            .swiper-pagination{
                                width: 100%;
                                position: relative;
                                left: 0;
                                top: 0;
                                z-index: 1;
                                height: 1px;
                                margin-top: 60px;
                                background-color: #ddd;
                                .swiper-pagination-progressbar-fill{
                                    position: absolute;
                                    left: 0;
                                    top: -1px;
                                    width: 100%;
                                    height: 2px;
                                    background-color: #000000;
                                    transform-origin: left top;
                                }
                            }
                        }
                        ul{
                            width: 100%;
                            gap: 20px;
                            flex-flow: nowrap;
                            display: flex;
                            li{
                                .item{
                                    z-index: 2;
                                    width: 413px;
                                    position: relative;
                                    &:hover{
                                        a{
                                            
                                            width: 100%;
                                            overflow: hidden;
                                            .img-box{
                                                overflow: hidden;
                                                width: 100%;
                                                height: 272px;
                                                border: 1px solid #00BC70;
                                                img{
                                                    transform: scale(1.1);
                                                    transition: all 0.3s ease-in-out;
                                                }
                                            }
                                            .text-box{
                                                p{
                                                    color: #00BC70;
                                                    transition: all 0.3s ease-in-out;
                                                }
                                                span{
                                                    color: #00BC70;
                                                    transition: all 0.3s ease-in-out;
                                                }
                                            }
                                        }
                                    }
                                    a{
                                        > span{
                                            z-index: 3;
                                            position: absolute;
                                            top: 0;
                                            left: 0;
                                            padding: 0 5px;
                                            height: 24px;
                                            font-size: 14px;
                                            line-height: 1.29em;
                                            background: #000;
                                            color: #fff;
                                            text-align: center;
                                            align-items: center;
                                            border: 1px solid #000;
                                        }
                                        .img-box{
                                            img{
                                                width: 413px;
                                                height: 272px;
                                            }
                                        }
                                        .text-box{
                                            p{
                                                display: block;
                                                margin: 20px 0 5px;
                                                font-size: 14px;
                                                line-height: 1.43em;
                                                letter-spacing: -0.01em;
                                                color: #666666;
                                                opacity: 0.8;
                                            }
                                            span{
                                                margin-top: 5px;
                                                font-weight: 500;
                                                font-size: 16px;
                                                line-height: 1.38em;
                                                color: #000000;
                                                overflow: hidden;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                    ul{
                    width: 100%;
                    gap: 20px;
                    flex-flow: nowrap;
                    display: flex;
                    li{
                        .item{
                            z-index: 2;
                            width: 413px;
                            position: relative;
                            &:hover{
                                a{
                                    
                                    width: 100%;
                                    overflow: hidden;
                                    .img-box{
                                        overflow: hidden;
                                        width: 100%;
                                        height: 272px;
                                        border: 1px solid #00BC70;
                                        img{
                                            transform: scale(1.1);
                                            transition: all 0.3s ease-in-out;
                                        }
                                    }
                                    .text-box{
                                        p{
                                            color: #00BC70;
                                            transition: all 0.3s ease-in-out;
                                        }
                                        span{
                                            color: #00BC70;
                                            transition: all 0.3s ease-in-out;
                                        }
                                    }
                                }
                            }
                            a{
                                > span{
                                    z-index: 3;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    padding: 0 5px;
                                    height: 24px;
                                    font-size: 14px;
                                    line-height: 1.29em;
                                    background: #000;
                                    color: #fff;
                                    text-align: center;
                                    align-items: center;
                                }
                                .img-box{
                                    img{
                                        width: 413px;
                                        height: 272px;
                                    }
                                }
                                .text-box{
                                    p{
                                        display: block;
                                        margin: 20px 0 5px;
                                        font-size: 14px;
                                        line-height: 1.43em;
                                        letter-spacing: -0.01em;
                                        color: #666666;
                                        opacity: 0.8;
                                    }
                                    span{
                                        margin-top: 5px;
                                        font-weight: 500;
                                        font-size: 16px;
                                        line-height: 1.38em;
                                        color: #000000;
                                        overflow: hidden;
                                    }
                                }
                            }
                        }
                    }
                    }
                    .button-box{
                        .prevBtn{
                            top: 40%;
                            left: -70px;
                            position: absolute;
                            background: url(../../../../public/images/sub/sub5/arr_r32_black.png);
                            width: 32px;
                            height: 32px;
                            transform: rotate(180deg);
                            border: 0;
                            cursor: pointer;
                        }
                        .nextBtn{
                            top: 40%;
                            right: -70px;
                            position: absolute;
                            background: url(../../../../public/images/sub/sub5/arr_r32_black.png);
                            width: 32px;
                            height: 32px;
                            border: 0;
                            cursor: pointer;
                        }
                    }
                    .slide-bar{
                        margin-top: 55px;
                        position: relative;
                        left: 0;
                        top: 0;
                        z-index: 1;
                        width: 100%;
                        height: 1px;
                        background-color: #DDDDDD;
                            span{
                                overflow: hidden;
                                position: absolute;
                                left: 0;
                                top: -1px;
                                width: 100%;
                                height: 3px;
                                background: #000000;
                                transform-origin: left top;
                            }
                    }
            }
        }
    }
    
}