#sub4{
    width: 100%;
    padding-bottom: 100px;
    user-select: none;
    .location{
        padding: 0;
        width: 100%;
        height: 61px;
        border-bottom: 1px solid #dddddd;
        .ineer-menu{
            width: 1280px;
            height: 100%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            .home{
                a{
                    background: url(../../../../public/images/sub/sub1/ico_location_home.png) no-repeat;
                    display: block;
                    width: 16px;
                    height: 16px;
                }
            }
            .navi{
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                transition: all 0.3s ease-in-out;
                &:hover{
                    ul{
                        display: flex;
                        
                        
                    }
                }
                img{
                    margin: 0 12px;
                    width: 12px;
                    height: 12px;
                }
                button{
                        background: #fff;
                        border: 0;
                        cursor: pointer;
                        color: #000;
                        display: flex;
                        height: 40px;
                        font-size: 12px;
                        align-items: center;
                    img{
                        margin-left: 5px;
                    }
                }
                ul{
                    justify-content: center;
                    display: none;
                    z-index: 4;
                    flex-flow: column;
                    cursor: pointer;
                    position: absolute;
                    overflow: hidden;
                    top: 39px;
                    left: 17px;
                    width: 170px;
                    max-height: px;
                    padding: 10px 0;
                    background: #fff;
                    border: 1px solid #AAAAAA;
                    white-space: nowrap;
                    color: #000;
                    transition: all 0.3s ease-in-out;
                    li{
                        padding: 10px 15px;
                        a{
                            display: block;
                            font-size: 14px;
                            color: #888888;
                            &:hover{
                                color: #00BC70;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
        }
    }
    .container{
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        .title{
            width: 100%;
            position: relative;
            padding-bottom: 30px;
            h2{
                width: 1280px;
                margin: 60px auto 30px;
                font-weight: 300;
                font-size: 38px;
                line-height: 1.11;
                font-weight: 500;
            }
            h3{
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 1.33em;
                    letter-spacing: -0.01em;
                    color: #000;
            }
            .sharing-box{
                .sharing-off{
                    position: absolute;
                    right: 0;
                    .share-open{
                        background: url(../../../../public/images/sub/sub4/icon_share.png)no-repeat;
                        width: 32px;
                        height: 32px;
                        border: 0;
                        cursor: pointer;
                    }
                }
                .sharing-on{
                    box-shadow: 10px 10px 5px #999999;
                    right: 0;
                    background: #fff;
                    position: absolute;
                    padding: 50px 20px 30px 50px;
                    border: 1px solid #ddd;
                    height: 160px;
                    align-items: center;
                    p{
                        padding-left: 20px;
                        position: absolute;
                        top: 0;
                        left: 0;
                        border-bottom: 1px solid #eee;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 24px;
                        text-align: left;
                    }
                    .sharing-btn{
                        display: flex;
                        gap: 20px;
                        padding: 0 30px;
                        .facebook{
                            display: block;
                            background: url(../../../../public/images/sub/sub4/icon_sns_facebook.png)no-repeat;
                            width: 45px;
                            height: 60px;
                        }
                        .kakao{
                            display: block;
                            background: url(../../../../public/images/sub/sub4/kakao_story.png)no-repeat;
                            width: 92px;
                            height: 63px;

                        }
                        .url{
                            display: block;
                            background: url(../../../../public/images/sub/sub4/icon_share_url.png)no-repeat;
                            width: 45px;
                            height: 60px;
                        }
                    }
                    .shale-close{
                        cursor: pointer;
                        background: url(../../../../public/images/sub/sub4/btn_box_close.png)no-repeat;
                        width: 24px;
                        height: 24px;
                        border: 0;
                        position: absolute;
                        top: 0;
                        right: 20px;
                        width: 24px;
                        height: 24px;
                    }
                }
            }
        }
        
        .content{
            padding-top: 60px;
            width: 100%;
            .main-image{
                width: 100%;
                margin: 0 250px;
                .img-gap{
                    width: 100%;
                    
                }
            }
            .product-list{
                width: 100%;
                padding: 100px 0;
                .col-gap{
                    width: 100%;
                    ul{
                        gap: 40px 20px;
                        width: 100%;
                        flex-flow: wrap;
                        margin-top: 40px;
                        display: flex;
                        li{
                            .item{
                                    a{
                                        .img-box{
                                            overflow: hidden;
                                            z-index: 2;
                                            position: relative;
                                            width: 240px;
                                            height: 320px;
                                            &:hover{
                                                .hover-img{
                                                    overflow: hidden;
                                                    display: block;
                                                    position: absolute;
                                                    left: 0;
                                                    width: 100%;
                                                    height: 100%;
                                                    transform: translateY(-50%);
                                                    transition: all 0.3s ease-in-out, opacity 0.5s ease-in-out;
                                                    opacity: 1;
                                                    img{
                                                        position: absolute;
                                                        left: 0;
                                                        top: 50%;
                                                        transform: translateY(-50%);
                                                        background: #fff;
                                                    }
                                                }
                                                .hover-btn{
                                                    gap: 45px;
                                                    display: flex;
                                                    transform: translateY(-100%);
                                                    position: absolute;
                                                    align-items: center;
                                                    justify-content: center;
                                                    z-index: 3;
                                                    background-color: #00BC70;
                                                    transition: all 0.3s ease-in-out;
                                                    cursor: pointer;
                                                    button{
                                                        width: 32px;
                                                        height: 32px;
                                                        border: 0;
                                                        &:nth-child(1){
                                                            background: url(../../../../public/images/sub/sub1/icon_heart_white.png) no-repeat;
                                                        }
                                                        &:nth-child(2){
                                                            background: url(../../../../public/images/sub/sub1/icon_cart_white.png) no-repeat;
                                                        }
                                                        &:nth-child(3){
                                                            background: url(../../../../public/images/sub/sub1/icon_buy_white.png) no-repeat;
                                                        }
                                                    }
                                                }
                                            }
                                            img{
                                                top: 0;
                                                left: 0;
                                                position: absolute;
                                                width: 240px;
                                                height: 320px;
                                            }
                                            .hover-img{
                                                position: absolute;
                                                opacity: 0;
                                                top:50%;
                                                left:0;
                                                overflow: hidden;
                                             
                                            }
                                            .hover-btn{
                                                gap: 45px;
                                                display: flex;
                                                height: 60px;
                                                width: 100%;
                                                bottom: -60px;
                                                position: absolute;
                                                align-items: center;
                                                justify-content: center;
                                                z-index: 4;
                                                background-color: #00BC70;
                                                transition: all 0.3s ease-in-out;
                                                cursor: pointer;
                                                button{
                                                    width: 32px;
                                                    height: 32px;
                                                    border: 0;
                                                    &:nth-child(1){
                                                        background: url(../../../../public/images/sub/sub1/icon_heart_white.png) no-repeat;
                                                    }
                                                    &:nth-child(2){
                                                        background: url(../../../../public/images/sub/sub1/icon_cart_white.png) no-repeat;
                                                    }
                                                    &:nth-child(3){
                                                        background: url(../../../../public/images/sub/sub1/icon_buy_white.png) no-repeat;
                                                    }
                                                }
                                            }
                                            
                                        }
                                    }
                            }
                            .info{
                                width: 240px;
                                a{
                                    display: flex;
                                    flex-flow: wrap;
                                    .product-name{
                                        font-weight: 400;
                                        font-size: 14px;
                                        line-height: 1.43em;
                                        color: #666666;
                                        strong{
                                            vertical-align: top;
                                            width: auto;
                                            height: auto;
                                            font-weight: 600;
                                            text-transform: uppercase;
                                        }
                                    }
                                    .price{
                                        margin-top: 10px;
                                        align-items: center;
                                        text-align: center;
                                        display: flex;
                                        strong{
                                            font-weight: 700;
                                            font-size: 20px;
                                            line-height: 1.2em;
                                            color: #000;
                                        }
                                        span{
                                            margin-left: 10px;
                                            font-weight: 300;
                                            font-size: 20px;
                                            line-height: 1.2em;
                                            color: #FF0000;
                                        
                                        }
                                        p{
                                            margin-left: 15px;
                                            font-weight: 300;
                                            font-size: 14px;
                                            line-height: 1.29em;
                                            text-decoration-line: line-through;
                                            color: #999;
                                            letter-spacing: 0;
                                        }
                                    }
                                    .hashtag{
                                        width: 100%;
                                        margin-top: 20px;
                                        display: flex;
                                        span{
                                            display: inline-flex;
                                            align-items: center;
                                            height: 20px;
                                            padding: 0 8px;
                                            font-size: 10px;
                                            line-height: 1.2em;
                                            letter-spacing: -0.02em;
                                            color: #009D5E;
                                            background-color: #EDFFF8;
                                        }
                                    }
                                    .star-grade{
                                        margin-top: 15px;
                                        i{font-size: 12px; margin-right: 5px;}
                                        span{font-size: 12px; line-height: 1.33em;color: #999E9C;}
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .banner-list{
                ul{
                    width: 100%;
                    display: flex;
                    flex-flow: wrap;
                    gap: 20px;
                    li{
                        
                        width: 630px;
                        height: 150px;
                        overflow: hidden;
                        a{
                            .banner-gap{
                                position: relative;
                                width: 100%;
                                height: 100%;
                                transition: all 0.3s ease-in-out;
                                &:hover{
                                    transform: scale(1.1);
                                }
                                .banner-img{
                                    img{
                                       width: 100%;
                                       height: 100%;
                                        filter: brightness(0.75);
                                    }
                                }
                                .banner-text{
                                    position: absolute;
                                    top:35%;
                                    left: 30px;
                                    p{
                                        font-weight: 600;
                                        font-size: 18px;
                                        line-height: 24px;
                                        color: #fff;
                                    }
                                }
                            }
                        }
                    }
                }
                .page-box{
                    width: 100%;
                    margin-top: 60px;
                    height: 40px;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    button{
                        cursor: pointer;
                        width: 40px;
                        height: 40px;
                        align-items: center;
                        text-align: center;
                        font-size: 16px;
                        line-height: 22px;
                        border: 0;
                        background: #fff;
                        color: #999;
                        &.on{
                            color: #000;
                            border-bottom: 2px solid #00BC70;
                        }
                    }
                }
                
            }
        }
    }
}