#sub5{
    .location{
        padding: 0;
        width: 100%;
        height: 61px;
        border-bottom: 1px solid #dddddd;
        .ineer-menu{
            width: 1280px;
            height: 100%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            .home{
                a{
                    background: url(../../../../public/images/sub/sub1/ico_location_home.png) no-repeat;
                    display: block;
                    width: 16px;
                    height: 16px;
                }
            }
            .navi{
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                transition: all 0.3s ease-in-out;
                &:hover{
                    ul{
                        display: flex;
                        
                        
                    }
                }
                img{
                    margin: 0 12px;
                    width: 12px;
                    height: 12px;
                }
                button{
                        background: #fff;
                        border: 0;
                        cursor: pointer;
                        color: #000;
                        display: flex;
                        height: 40px;
                        font-size: 12px;
                        align-items: center;
                    img{
                        margin-left: 5px;
                    }
                }
                ul{
                    justify-content: center;
                    display: none;
                    z-index: 4;
                    flex-flow: column;
                    cursor: pointer;
                    position: absolute;
                    overflow: hidden;
                    top: 39px;
                    left: 17px;
                    width: 170px;
                    max-height: px;
                    padding: 10px 0;
                    background: #fff;
                    border: 1px solid #AAAAAA;
                    white-space: nowrap;
                    color: #000;
                    transition: all 0.3s ease-in-out;
                    li{
                        padding: 10px 15px;
                        a{
                            display: block;
                            font-size: 14px;
                            color: #888888;
                            &:hover{
                                color: #00BC70;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
        }
    }
    .container{
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        .title{
            h2{
                width: 1280px;
                margin: 60px auto 30px;
                font-weight: 300;
                font-size: 38px;
                line-height: 1.11;
                font-weight: 500;
            }
        }
        .content{
            width: 100%;
            .live{
                padding-top: 40px;
                width: 100%;
                text-align: center;
                border-bottom: 1px solid #eee;
                .img-title{
                        display: flex;
                        justify-content: center;
                        width: 100%;
                        margin-bottom: 20px;
                    h3{
                        background: url(../../../../public/images/sub/sub5/img_InniLive.png) no-repeat;
                        width: 190px;
                        height: 40px;
                    }
                }
                p{
                    font-size: 16px;
                    line-height: 1.38;
                    color: #000;
                }
                .img-box{
                    margin-top: 80px;
                    background: linear-gradient(180deg, #F5F5F5 0%, #E8E8E8 100%);
                    .img-gap{
                        background: url(../../../../public/images/sub/sub5/bg_live_typo.png) no-repeat 50% 50%;
                        
                    }
                
                }
                .live-alarm{
                    justify-content: center;
                    padding: 20px 0;
                    display: flex;
                    p{
                        margin-right: 30px;
                        font-weight: 600;
                        font-size: 20px;
                    }
                    button{
                        height: 30px;
                        font-size: 12px;
                        padding: 0 20px;
                        color: #fff;
                        background: #000;
                        border: 0;
                    }
                }
                .text-box{
                    margin: 60px 0;
                    width: 100%;
                    h4{
                        margin-bottom: 10px;
                        font-weight: 600;
                        font-size: 24px;
                        line-height: 1.33;
                    }
                    span{
                        font-size: 18px;
                        line-height: 1.33em;
                        color: #666;
                    }
                }

            }
            .ininsfreelive-replay{
                width: 100%;
                position: relative;
                h3{
                    display: block;
                    margin: 100px 0 30px;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 1.33;
                }
                .slide-container{
                    width: 100%;
                    position: relative;
                    display: flex;
                    .slide-view{
                        width: 100%;
                        .slide-wrap{
                            display: flex;
                            width: 100%;
                            .slide{
                                display: flex;
                                flex-wrap: wrap;
                                gap: 50px 20px;
                                flex-shrink: 0;
                                width:1280px;          
                                .item{
                                    > a{
                                        .img-box{
                                            position: relative;
                                            width: 240px;
                                            height: 320px;
                                            > img{
                                                width: 240px;
                                                height: 320px;
                                            }
                                            .notice{                            
                                                background: linear-gradient(0deg, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.4) 100%);
                                                width: 100%;
                                                position: absolute;
                                                top: 0;
                                                left: 0;
                                                display: flex;
                                                justify-content: space-between;
                                                font-size: 14px;
                                                color: #fff;
                                                padding: 13px 15px;
                                                line-height: 1.43;
                                                .date{
                                                    display: flex;
                                                   > i{
                                                    background: url(../../../../public/images/sub/sub5/ico_calendar.png)no-repeat 50% 50%;
                                                    width: 16px;
                                                    height: 16px;
                                                    margin-right: 5px;
                                                    transform: translateY(3px);
                                                   }
                                                }
                                                .view{
                                                    display: flex;
                                                   i{
                                                    background: url(../../../../public/images/sub/sub5/ico_view.png) no-repeat 50% 50%;
                                                    width: 16px;
                                                    height: 16px;
                                                    transform: translateY(3px);
                                                    margin-left: 5px;
                                                   }
                                                }
                                            }
                                            a{
                                                display: flex;
                                                box-sizing: border-box;
                                                overflow: hidden;
                                                align-items: center;
                                                position: absolute;
                                                left: 15px;
                                                right: 15px;
                                                bottom: 15px;
                                                height: 48px;
                                                padding: 6px 10px 6px 61px;
                                                background: rgba(0, 0, 0, 0.4);
                                                .prd-img{
                                                    width: 100%;
                                                    position: absolute;
                                                    left: 0;
                                                    img{
                                                        width: 36px;
                                                        height: 48px;
                                                    }
                                                }
                                                .prd-name{
                                                    color: #fff;
                                                    font-size: 12px;
                                                    font-weight: 300;
                                                }
                                            }
                                            
                                        }
                                        .info-box{
                                            width: 100%;
                                            p{
                                                padding-top: 20px;
                                                font-size: 14px;
                                                line-height: 1.43;}
                                            a{
                                                margin-top: 5px;
                                                border: 1px solid #000;
                                                display: inline-flex;
                                                align-items: center;
                                                justify-content: center;
                                                flex: none;
                                                height: 24px;
                                                padding: 0 8px;
                                                font-weight: 600;
                                                font-size: 10px;
                                                letter-spacing: -0.01em;
                                                border-radius: 1px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .slide-btn-box{
                        .prevBtn{
                            top: 50%;
                            left: -80px;
                            position: absolute;
                            background: url(../../../../public/images/sub/sub5/arr_r32_black.png);
                            width: 32px;
                            height: 32px;
                            transform: rotate(180deg);
                            border: 0;
                            cursor: pointer;
                        }
                        .nextBtn{
                            top: 50%;
                            right: -80px;
                            position: absolute;
                            background: url(../../../../public/images/sub/sub5/arr_r32_black.png);
                            width: 32px;
                            height: 32px;
                            border: 0;
                            cursor: pointer;
                        }
                    }
                }

            }
            .live-replay{
                width: 100%;
                position: relative;
                h3{
                    display: block;
                    margin: 100px 0 30px;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 1.33;
                }
                .slide-container{
                    width: 100%;
                    .slide-view{
                        height: 100%;
                        width: 100%;
                        overflow: hidden;    
                        .slide-wrap{
                            display: flex;
                            width: 100 * 3%;
                            .slide{
                                display: flex;
                                flex-wrap: wrap;
                                gap: 50px 20px;
                                flex-shrink: 0;
                                width:1280px;             
                                .item{
                                    > a{
                                        .img-box{
                                            position: relative;
                                            width: 240px;
                                            height: 320px;
                                            > img{
                                                width: 240px;
                                                height: 320px;
                                            }
                                            .notice{                            
                                                background: linear-gradient(0deg, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.4) 100%);
                                                width: 100%;
                                                position: absolute;
                                                top: 0;
                                                left: 0;
                                                display: flex;
                                                justify-content: space-between;
                                                font-size: 14px;
                                                color: #fff;
                                                padding: 13px 15px;
                                                line-height: 1.43;
                                                .date{
                                                    display: flex;
                                                   > i{
                                                    background: url(../../../../public/images/sub/sub5/ico_calendar.png)no-repeat 50% 50%;
                                                    width: 16px;
                                                    height: 16px;
                                                    margin-right: 5px;
                                                    transform: translateY(3px);
                                                   }
                                                }
                                                .view{
                                                    display: flex;
                                                   i{
                                                    background: url(../../../../public/images/sub/sub5/ico_view.png) no-repeat 50% 50%;
                                                    width: 16px;
                                                    height: 16px;
                                                    transform: translateY(3px);
                                                    margin-left: 5px;
                                                   }
                                                }
                                            }
                                            a{
                                                display: flex;
                                                box-sizing: border-box;
                                                overflow: hidden;
                                                align-items: center;
                                                position: absolute;
                                                left: 15px;
                                                right: 15px;
                                                bottom: 15px;
                                                height: 48px;
                                                padding: 6px 10px 6px 61px;
                                                background: rgba(0, 0, 0, 0.4);
                                                .prd-img{
                                                    width: 100%;
                                                    position: absolute;
                                                    left: 0;
                                                    img{
                                                        width: 36px;
                                                        height: 48px;
                                                    }
                                                }
                                                .prd-name{
                                                    color: #fff;
                                                    font-size: 12px;
                                                    font-weight: 300;
                                                }
                                            }
                                            
                                        }
                                        .info-box{
                                            width: 100%;
                                            p{
                                                padding-top: 20px;
                                                font-size: 14px;
                                                line-height: 1.43;}
                                            a{
                                                margin-top: 5px;
                                                border: 1px solid #000;
                                                display: inline-flex;
                                                align-items: center;
                                                justify-content: center;
                                                flex: none;
                                                height: 24px;
                                                padding: 0 8px;
                                                font-weight: 600;
                                                font-size: 10px;
                                                letter-spacing: -0.01em;
                                                border-radius: 1px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .slide-btn-box{
                        .prevBtn{
                            top: 50%;
                            left: -80px;
                            position: absolute;
                            background: url(../../../../public/images/sub/sub5/arr_r32_black.png);
                            width: 32px;
                            height: 32px;
                            transform: rotate(180deg);
                            border: 0;
                            cursor: pointer;
                        }
                        .nextBtn{
                            top: 50%;
                            right: -80px;
                            position: absolute;
                            background: url(../../../../public/images/sub/sub5/arr_r32_black.png);
                            width: 32px;
                            height: 32px;
                            border: 0;
                            cursor: pointer;
                        }
                    }
                }

            }
        }
    }
}