#header {
    width: 100%;
    .my-util {
        width: 100%;
        max-width: 1280px;
        height: 80px;
        margin: 0 auto;
        position: relative;
        padding-top: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #fff;
        .logo {
            a{
                display: block;
                width: 154px;
                height: 20px;
                background: url(../../../public/images/logo_innisfree.png) no-repeat 50% 50%;
                margin-top: 20px;
                cursor: pointer;

            }
        }
        .header-search {
            position: absolute;
            box-sizing: border-box;
            flex: none;
            width: 580px;
            left: 50%;
            transform: translateX(-290px);
            form {
                width: 100%;
                .keyword-input {
                    box-sizing: border-box;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    height: 50px;
                    padding-right: 10px;
                    border: 0;
                    border-bottom: 1px solid #000;
                    .input-txt {
                        width: 100%;
                        height: 24px;
                        border: 0;
                        font-weight: 600;
                        font-size: 14px;
                        text-decoration: none;
                        outline: none;
                        letter-spacing: -0.01em;
                    }
                    .btn-search {
                        flex: none;
                        width: 24px;
                        height: 24px;
                        margin-left: 26px;
                        font-size: 0;
                        background: url(../../../public/images/ico_search24_black.png) no-repeat 50% 50%;
                        border: 0;
                        border-radius: 0;
                        outline: none;
                        cursor: pointer;
                        &::before {
                            content: '';
                            display: block;
                            width: 24px;
                            height: 24px;
                            background: url(../../../public/images/ico_search24_black.png) no-repeat center;
                        }
                    }
                    .keyword-rolling {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        height: 50px;
                        overflow: hidden;
                        ul {
                            li {
                                span {
                                    display: block;
                                    color: #999;
                                    line-height: 50px;
                                    font-size: 14px;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                }
                                a {
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    width: 50px;
                                    height: 50px;
                                    font-size: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
        .list-my-util {
            display: flex;
            flex: none;
            margin-top: 5px;
            box-sizing: border-box;
            button {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 52px;
                height: 46px;
                font-size: 11px;
                line-height: 1.5em;
                letter-spacing: -0.1em;
                color: #666;
                margin-left: 10px;
                overflow: visible;
                cursor: pointer;
                background: none;
                border: 0;
                border-radius: 0;
                outline: none;
                position: relative;
                &::before {
                    content: '';
                    display: block;
                    width: 24px;
                    height: 24px;
                }
                &.btn-login {
                    &::before {
                    background: url(../../../public/images/ico_login24_black.png) no-repeat center;
                    }
                }
                &.btn-logOut {
                    &::before {
                    background: url(../../../public/images/ico_logout24_black.png) no-repeat center;
                    }
                }
                &.btn-mypage {
                    &::before {
                        background: url(../../../public/images/ico_mypage24_black.png) no-repeat center;
                    }
                }
                &.btn-cart-count {
                    &::before {
                        background: url(../../../public/images/ico_cart24_black.png) no-repeat center;
                    }
                }
                &.btn-admin {
                    &::before {
                        background: url(../../../public/images/ico_star.png) no-repeat center;
                    }
                }
                &.btn-admin-on {
                    &::before {
                        background: url(../../../public/images/ico_star_on.png) no-repeat center;
                    }
                }

                span {
                    margin-top: 6px;
                    box-sizing: border-box;
                }
                .count {
                    position: absolute;
                    left: 50%;
                    top: -10px;
                    min-width: 17px;
                    height: 17px;
                    padding: 0 5px;
                    font-weight: 600;
                    font-size: 10px;
                    letter-spacing: 0;
                    color: #fff;
                    border-radius: 100px;
                    background: #00bc70;
                }
            }
        }

    }
    .gnb-menu {
        width: 100%;
        height: 80px;
        position: sticky;
        background: #fff;
        top: 0;
        z-index: 12;
        &.fixed {
            position: fixed;
            top: 0;
            left: 0;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.02);
            .inner {
                .logo {
                    display: block;
                }
                .nav-gnb {
                    margin-left: 70px;
                    .gnb-list {
                        li {
                            position: relative;
                            &.active {
                                display: none;
                            }
                        }
                    }
                }
                .btn-category {
                    width: 160px;
                    height: 80px;
                    top: 0;
                    padding: 18px 20px;
                    transform: translateX(-560px);
                    &.on {
                        width: 160px;
                        height: 80px;
                        top: 0;
                        padding: 18px 20px;
                        border: 1px solid #eee;
                        border-bottom: 0;
                        &::before {
                            background: url(../../../public/images/ico_category_close.png) no-repeat 50% 50%;
                        }
                    }
                }
                .list-my-util {
                    display: block;
                    position: fixed;
                    top: 30px;
                    right: 50%;
                    z-index: 13;
                    transform: translateX(640px);
                    button {
                        width: 24px;
                        height: 24px;
                        margin-left: 15px;
                        border: 0;
                        background: #fff;
                        &::before {
                            content: '';
                            display: block;
                            width: 24px;
                            height: 24px;
                        }
                        &.btn-search {
                            &::before {
                                background: url(../../../public/images/ico_search24_black.png) no-repeat 50% 50%;
                            }
                        }
                        &.btn-login {
                            &::before {
                                background: url(../../../public/images/ico_login24_black.png) no-repeat 50% 50%;
                            }
                        }
                        &.btn-mypage {
                            &::before {
                                background: url(../../../public/images/ico_mypage24_black.png) no-repeat 50% 50%;
                            }
                        }
                        &.btn-cart-count {
                            position: relative;
                            &::before {
                                background: url(../../../public/images/ico_cart24_black.png) no-repeat 50% 50%;
                            }
                            .count {
                                position: absolute;
                                left: 50%;
                                top: -5px;
                                min-width: 17px;
                                height: 17px;
                                line-height: 1.5em;
                                padding: 0 5px;
                                font-weight: 600;
                                font-size: 10px;
                                letter-spacing: 0;
                                color: #fff;
                                border-radius: 100px;
                                background: #00bc70;
                            }
                        }
                    }
                }
            }
        }
        .inner {
            width: 100%;
            max-width: 1280px;
            margin: 0 auto;
            position: relative;
            display: flex;
            .logo {
                display: none;
                position: fixed;
                top: 0;
                margin-top: 0;
                width: 80px;
                height: 80px;
                background: url(../../../public/images/logo_innisfree_fixed.png) no-repeat 50% 50%;
            }
            .nav-gnb {
                display: flex;
                justify-content: center;
                flex: 1;
                padding-top: 32px;
                .gnb-list {
                    display: flex;
                    li {
                        margin-left: 30px;
                        &:first-child {
                            margin: 0;
                        }
                        &.active {
                            position: absolute;
                            right: 0;
                        }
                        a {
                            display: flex;
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 1.25em;
                            letter-spacing: -0.01em;
                            color: #000;
                            
                            strong {
                                flex: none;
                                width: 5px;
                                height: 5px;
                                margin-left: 5px;
                                border-radius: 100%;
                                background: #00BC70;
                                
                                span {
                                    visibility: hidden;
                                    margin: 0;
                                    padding: 0;
                                    font-size: 0;
                                    line-height: 0;
                                    letter-spacing: 0;
                                }
                                
                            }
                        }
                    }
                }
            }
            .btn-category {
                position: absolute;
                top: 60%;
                left: 50%;
                z-index: 2;
                transform: translateX(-640px);
                display: flex;
                align-items: center;
                width: 90px;
                height: 24px;
                font-weight: 600;
                font-size: 16px;
                line-height: 1.25em;
                letter-spacing: -0.13em;
                background-color: #fff;
                border: 0;
                &.on {
                    top: 37%;
                    width: 154px;
                    height: 61px;
                    padding: 18px 20px;
                    border: 1px solid #eee;
                    border-bottom: 0;
                    &::before {
                        background: url(../../../public/images/ico_category_close.png) no-repeat 50% 50%;
                    }
                }
                &::before {
                    content: '';
                    flex: none;
                    display: block;
                    width: 24px;
                    height: 24px;
                    margin-right: 10px;
                    background: url(../../../public/images/ico_category.png) no-repeat 50% 50%;
                }
            }
            .list-my-util {
                display: none;
            }
        }
        .nav-category {
            position: absolute;
            left: 0;
            top: 100%;
            width: 100%;
            display: block;
            .drop-category {
                display: block;
                position: relative;
                z-index: 1;
                border-top: 1px solid #eee;
                border-bottom: 1px solid #eee;
                background-color: #fff;
                box-shadow: 0 10px 20px 0 rgba(0,0,0,0.05);
                .inner {
                    width: 100%;
                    max-width: 1280px;
                    margin: 0 auto;
                    padding: 40px 0;
                    .list {
                        display: flex;
                        align-items: flex-start;
                        justify-content: space-between;
                        li {
                            flex: 1;
                            width: 137px;
                            margin-right: 40px;
                            &:last-child {
                                border-left: 1px solid #eee;
                                padding-left: 40px;
                            }
                            &:hover{
                                >a {
                                    color: #00BC70;
                                    border-bottom: 1px solid #00BC70;
                                    
                                }
                            }
                            a {
                                display: block;
                                height: 31px;
                                padding-bottom: 10px;
                                font-weight: 600;
                                font-size: 16px;
                                line-height: 1.25em;
                                letter-spacing: -0.01em;
                                color: #000;
                                border-bottom: 1px solid #eee;
                            }
                            >ul {
                                display: flex;
                                flex-direction: column;
                                gap: 5px;
                                margin-top: 20px;
                                >li {
                                    height: 31px;
                                    &:last-child {
                                        border-left: 0;
                                        padding-left: 0;
                                    }
                                    >a {
                                        display: flex;
                                        align-items: center;
                                        font-size: 14px;
                                        font-weight: 400;
                                        line-height: 1.43;
                                        letter-spacing: -0.05em;
                                        color: #888;
                                        border-bottom: 0;
                                        &:hover {
                                            font-weight: 600;
                                            color: #000;
                                            border-bottom: 1px solid #000;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}