#searchModal {
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    z-index: 1000;
    .container {
        transform: translateX(-480px);
        z-index: 2000;
        transition: transform 0.4s ease-in-out;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
        top: 0;
        right: -480px;
        width: 480px;
        height: 100%;
        background: #fff;
        h1 {
            padding: 40px 40px 0;
            font-weight: 600;
            font-size: 24px;
            line-height: 1.33em;
            letter-spacing: -0.01em;
            color: #000;
            text-align: left;
        }
        .search-slide-wrap {
            overflow: hidden;
            outline: none;
            flex: 1;
            padding: 40px;
            .header-search {
                position: relative;
                left: auto;
                width: auto;
                margin-top: -10px;
                transform: none;
                .keyword-input {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    height: 50px;
                    padding-right: 10px;
                    border: 0;
                    border-bottom: 1px solid #000;
                    legend {
                        position: absolute;
                        z-index: -1;
                        font-size: 0;
                    }
                    .input-txt {
                        flex: 1;
                        width: auto;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        word-wrap: break-word;
                        outline: none;
                        vertical-align: middle;
                        font-weight: 600;
                        font-size: 14px;
                        text-decoration: none;
                        border: 0;
                    }
                    .btn-search {
                        margin-left: 10px;
                        flex: none;
                        width: 24px;
                        height: 24px;
                        background: url(../../../public/images/ico_search24_black.png) no-repeat 50% 50%;
                        border: 0;
                    }
                }
            }
            .keyword-recome {
                .title-wrap {
                    margin: 30px 0 20px;
                    padding: 0;
                    border: none;
                    h3 {
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 1.33em;
                        text-align-last: left;
                    }
                }
                .hash-tag {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px 5px;
                    a {
                        display: inline-flex;
                        align-items: center;
                        height: 24px;
                        padding: 3px 10px;
                        font-size: 12px;
                        line-height: 1.5em;
                        white-space: nowrap;
                        color: #009d5e;
                        border: 0.1rem solid #009d5e;
                        border-radius: 14px;
                    }
                }
            }
            .keyword-top10 {
                .title-wrap {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 40px 0 0;
                    margin: 40px 0 20px;
                    border-top: 1px solid #eee;
                    .title {
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 1.33em;
                    }
                    .date {
                        font-weight: 300;
                        font-size: 12px;
                        line-height: 1.33em;
                        color: #999;
                    }
                }
                .list-wrap {
                    display: flex;
                    .list {
                        display: flex;
                        flex-direction: column;
                        gap: 20px 0;
                        width: 50%;
                        font-size: 1.4rem;
                        line-height: 1.6rem;
                        list-style: none;
                        li {
                            a {
                                display: flex;
                                align-items: center;
                                color: #333;
                                .num {
                                    display: inline-block;
                                    min-width: 16px;
                                    margin-right: 5px;
                                    font-weight: 600;
                                    font-size: 13px;
                                    line-height: 1.23em;
                                    text-align: center;
                                }
                                em {
                                    width: 12px;
                                    height: 12px;
                                    background: no-repeat 50% 50%;
                                    &.icon-new {
                                        background: url(../../../public/images/icoRank_new.png);
                                    }
                                    &.icon-up {
                                        background: url(../../../public/images/icoRank_up.png);
                                    }
                                    &.icon-down {
                                        background: url(../../../public/images/icoRank_down.png);
                                    }
                                }
                                .txt {
                                    overflow: hidden;
                                    flex: 1;
                                    margin-left: 10px;
                                    font-size: 14px;
                                    line-height: 1.14em;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                    text-align-last: left;
                                }
                            }
                        }
                    }
                }
            }
            .keyword-quick {
                margin: 40px -40px 0 0;
                padding: 40px 0 0 0;
                border-top: 0.1rem solid #f5f5f5;
                .swiper-container {
                    overflow: hidden;
                    .swiper-wrap {
                        gap: 0 3px;
                        .swiper-slide {
                            padding-right: 40px;
                            width: 80px;
                            text-align: center;
                            box-sizing: content-box !important;
                            a {
                                display: block;
                                position: relative;
                                overflow: hidden;
                                width: 80px;
                                height: 120px;
                                img {
                                    display: block;
                                    width: 100%;
                                    height: auto;
                                }
                            }
                        }
                    }
                }
            }
        }
        .btn-close {
            position: absolute;
            top: 40px;
            right: 40px;
            width: 32px;
            height: 32px;
            font-size: 0;
            background: url(../../../public/images/ico_close32_black.png) no-repeat 50% 50%;
            border: none;
            cursor: pointer;
        }
    }
}