#shoppingBasketModal {
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    z-index: 1000;
    .container {
        transform: translateX(-480px);
        z-index: 2000;
        transition: transform 0.4s ease-in-out;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -480px;
        width: 480px;
        height: 100%;
        background: #fff;
        .title {
            padding: 40px 40px 0;
            font-weight: 600;
            font-size: 24px;
            line-height: 1.33em;
            letter-spacing: -0.01em;
            color: #000;
            text-align: left;
        }
        .basket-box{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 150px 0;
            text-align: center;
            font-weight: 600;
            line-height: 1.25em;
            img{

            }
            p{
                font-size: 16px;
                color: #000;
                padding-top: 20px;
            }
        }
        .login-box{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-weight: 600;
            font-size: 16px;
            line-height: 1.25em;
            button{
                width: 320px;
                height: 50px;
                margin-top: 10px;
                padding: 0 57px;
                font-size: 16px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                border: 0;
                &:nth-child(1){
                    color: #fff;
                    background-color: #00BC70;
                }
                &:nth-child(2){
                    color: #fff;
                    background-color: #000;
                }
            }
        }
        span{
            margin-top: 20px;
            font-weight: 400;
            font-size: 13px;
            line-height: 1.54;
            color: #999;
        }
        .btn-close {
            position: absolute;
            top: 40px;
            right: 40px;
            width: 32px;
            height: 32px;
            font-size: 0;
            background: url(../../../public/images/ico_close32_black.png) no-repeat 50% 50%;
            border: none;
            cursor: pointer;
        }
    }
}