#shoppingModal {
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    z-index: 1000;
    .container {
        transform: translateX(-480px);
        z-index: 2000;
        transition: transform 0.4s ease-in-out;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
        top: 0;
        right: -480px;
        width: 480px;
        height: 100%;
        background: #fff;
        .title {
            padding: 40px 40px 0;
            font-weight: 600;
            font-size: 24px;
            line-height: 1.33em;
            letter-spacing: -0.01em;
            color: #000;
            text-align: left;
            .icon-tool-tip {
                margin-left: 5px;
                display: inline-block;
                width: 16px;
                height: 16px;
                font-size: 0;
                vertical-align: middle;
                background: url(../../../public/images/ico_tooltip.png) no-repeat center;
                border: 0;
            }
            p {
                display: block;
                margin-top: 5px;
                font-weight: 300;
                font-size: 12px;
                line-height: 1.33em;
                letter-spacing: -0.01em;
                color: #999;
            }
        }
        .search-slide-wrap {
            overflow: scroll;
            outline: none;
            flex: 1;
            padding: 40px;
            .shopping-log-section {
                overflow: visible;
                position: static;
                width: auto;
                height: auto;
                margin: 0;
                padding: 0;
                bottom: none;
                // .product-list {
                //     position: relative;
                //     flex: 1;
                //     align-items: flex-start;
                //     gap: 50px 0;
                //     padding-bottom: 97px;
                //     display: flex;
                //     flex-wrap: wrap;
                //     align-content: flex-start;
                //     li {
                //         width: 400px;
                //         position: relative;
                //         flex: none;
                //         a {
                //             display: flex;
                //             &:hover {
                //                 .nail {
                //                     .img {
                //                         &::before {
                //                             opacity: 1;
                //                             transform: scale(100%);
                //                             background: url(../../../public/images/ico_plusG.png) no-repeat left bottom;
                //                         }
                //                     }
                //                 }
                //                 .info {
                //                     .name {
                //                         color: #00bc70;
                //                     }
                //                 }
                //             }
                //             .nail {
                //                 width: 90px;
                //                 height: 120px;
                //                 background: #f5f5f5;
                //                 position: relative;
                //                 overflow: hidden;
                //                 .img {
                //                     &::before {
                //                         content: '';
                //                         box-sizing: border-box;
                //                         position: absolute;
                //                         display: block;
                //                         top: 0;
                //                         left: 0;
                //                         width: 100%;
                //                         height: 100%;
                //                         z-index: 1;
                //                         border: 1px solid #00bc70;
                //                         opacity: 0;
                //                         transform: scale(50%);
                //                         transition: all 0.4s ease;
                //                     }
                //                     img {
                //                         width: 100%;
                //                         height: 100%;
                //                         position: absolute;
                //                         left: 0;
                //                         top: 50%;
                //                         transform: translateY(-50%);
                //                         background: #fff;
                //                         vertical-align: top;
                //                     }
                //                 }
                //             }
                //             .info {
                //                 margin: 0 0 0 20px;
                //                 width: 290px;
                //                 .name {
                //                     -webkit-line-clamp: 1;
                //                     display: -webkit-box;
                //                     overflow: hidden;
                //                     font-weight: 400;
                //                     font-size: 14px;
                //                     line-height: 1.43em;
                //                     color: #666;
                //                     text-overflow: ellipsis;
                //                     -webkit-box-orient: vertical;
                //                     strong {
                //                         font-weight: 600;
                //                         text-transform: uppercase;
                //                     }
                //                 }
                //                 .price-box {
                //                     margin-top: 5px;
                //                     display: flex;
                //                     flex-wrap: wrap;
                //                     align-items: center;
                //                     .price {
                //                         font-size: 14px;
                //                         line-height: 1.43em;
                //                     }
                //                     .cost {
                //                         font-size: 13px;
                //                         line-height: 1.23em;
                //                         margin-left: 15px;
                //                         font-weight: 300;
                //                         text-decoration-line: line-through;
                //                         color: #999;
                //                         letter-spacing: 0;
                //                     }
                //                 }
                //                 .hash-box {
                //                     display: flex;
                //                     flex-wrap: wrap;
                //                     gap: 5px;
                //                     margin-top: 20px;
                //                     button {
                //                         display: inline-flex;
                //                         align-items: center;
                //                         height: 20px;
                //                         padding: 0 8px;
                //                         font-size: 10px;
                //                         line-height: 1.2em;
                //                         letter-spacing: -0.02em;
                //                         color: #009d5e;
                //                         border-radius: 100px;
                //                         background-color: #edfff8;
                //                         overflow: visible;
                //                         cursor: pointer;
                //                         border: 0;
                //                         outline: none;
                //                     }
                //                 }
                //                 .star-grade {
                //                     display: flex;
                //                     align-items: center;
                //                     margin-top: 15px;
                //                     font-size: 12px;
                //                     line-height: 1.33em;
                //                     color: #999e9c;
                //                     &::before {
                //                         display: block;
                //                         content: '';
                //                         width: 12px;
                //                         height: 12px;
                //                         margin-right: 5px;
                //                         background: url(../../../public/images/ico_star.png) no-repeat 50% 50%;
                //                     }
                //                 }
                //             }
                //         }
                //     }
                // }  
                .shopping-list-box{
                    position: relative;
                    flex: 1;
                    align-content: flex-start;
                    padding-left: 0;          
                    text-align: left;          
                    &::before {
                        content: '';
                        height: auto;
                        position: absolute;
                        bottom: -40px;
                        left: 44px;
                        top: 0;
                        width: 1px;
                        background-color: #eee;
                    }
                    li{
                        width: 400px;
                        list-style: none;
                        padding-bottom: 50px;     
                        a{
                            .nail {
                                width: 90px;
                                height: 120px;
                                background: #f5f5f5;
                                position: relative;
                                overflow: hidden;
                                .img {
                                    &::before {
                                        content: '';
                                        box-sizing: border-box;
                                        position: absolute;
                                        display: block;
                                        top: 0;
                                        left: 0;
                                        width: 100%;
                                        height: 100%;
                                        z-index: 1;
                                        border: 1px solid #00bc70;
                                        opacity: 0;
                                        transform: scale(50%);
                                        transition: all 0.4s ease;
                                    }
                                    img {
                                        width: 100%;
                                        height: 100%;
                                        position: absolute;
                                        left: 0;
                                        top: 50%;
                                        transform: translateY(-50%);
                                        background: #fff;
                                        vertical-align: top;
                                    }
                                }
                            }
                            .product-txt-box{
                                max-width: 282px;
                                .price-box{
                                    .price{
                                        &.off{
                                            display: none;
                                        }
                                    }
                                }
                                .hash-box{
                                    .tag1{
                                        &.on{
                                            display: none;
                                        }
                                    }
                                    .tag2{
                                        &.on{
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }                       
                        &:hover{
                            a{
                                .nail {
                                    .img {
                                        &::before {
                                            opacity: 1;
                                            transform: scale(100%);
                                            background: url(../../../public/images/sub/sub6/ico_plusG.png) no-repeat left bottom;
                                        }
                                    }
                                }   
                                .product-txt-box{
                                    .name{
                                        color: #00BC70;
                                        strong{
                                            color: #00BC70;
                                        }
                                    }
                                }
                            }
                        }
                        a{
                            display: flex;
                            text-decoration: none;
                            .img{
                                position: relative;
                                width: 90px;
                                height: 120px;
                                img{
                                    width: 90px;
                                    height: 120px;
                                    background: #f5f5f5;
                                    position: absolute;
                                    left: 0;
                                    top: 50%;
                                    transform: translateY(-50%);
                                }
                            }
                            .product-txt-box{
                                margin: 0 0 0 20px;
                                .name{
                                    font-weight: 400;
                                    font-size: 14px;
                                    line-height: 1.43em;
                                    color: #666666;
                                    text-overflow: ellipsis;
                                    strong{
                                        font-weight: 600;
                                        text-transform: uppercase;
                                    }
                                }
                                .price-box{                                    
                                    margin-top: 6px;
                                    .cost{       
                                        font-size: 14px;
                                        line-height: 1.43em;
                                        color: #000;
                                        font-weight: 600;
                                    }
                                    .price{    
                                        font-weight: 400;
                                        font-size: 13px;
                                        line-height: 1.23em;
                                        text-decoration-line: line-through;
                                        color: #999;
                                        letter-spacing: 0;
                                        margin-left: 15px;
                                    }
                                }
                                .sticker-box{    
                                    display: flex;
                                    flex-wrap: wrap;
                                    gap: 1px;         
                                    span{
                                        margin-top: 20px;
                                        color: #00BC70;
                                        background: #E0FBF0;                       
                                        display: inline-flex;
                                        align-items: center;
                                        height: 18px;
                                        padding: 0 5px;
                                        font-weight: 400;
                                        font-size: 10px;
                                        line-height: 1.4em;
                                        letter-spacing: 0;
                                        &.off{
                                            display: none;
                                            margin-top: 0;
                                        }
                                    }
                                }
                                .hash-box{
                                    display: flex;
                                    flex-wrap: wrap;
                                    gap: 5px;
                                    margin-top: 20px;
                                    button{
                                        display: inline-flex;
                                        align-items: center;
                                        height: 20px;
                                        padding: 0 8px;
                                        font-size: 10px;
                                        line-height: 1.2em;
                                        letter-spacing: -0.02em;
                                        color: #009D5E;
                                        border-radius: 100px;
                                        border: 0;
                                        background-color: #EDFFF8;
                                    }
                                }
                                .review{                                    
                                    display: flex;
                                    align-items: center;
                                    margin-top: 15px;
                                    font-size: 12px;
                                    line-height: 1.33em;
                                    color: #999E9C;
                                    height: 1.33em;
                                    img{                 
                                        width: 12px;
                                        height: 12px;                       
                                        margin-right: 5px;
                                    }
                                }
                            }
                        }
                    }
                }
                .no-data {
                    padding: 50px 0 90px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin: 150px 0;
                    text-align: center;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 1.25em;
                    color: #000;
                    &::before {
                        content: '';
                        display: block;
                        flex: none;
                        width: 60px;
                        height: 60px;
                        margin-bottom: 20px;
                        border-radius: 100px;
                        background: url(../../../public/images/ico_nodate.png) no-repeat 50% 50%;
                    }
                    .desc {
                        display: block;
                        margin-top: 10px;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 1.43;
                        color: #999;
                        text-align: center;
                    }
                    &.on {
                        display: none;
                    }
                }
                .box-wrap {
                    margin: 90px 0 0;
                    border-top: 1px solid #eee;
                    .sub-title {
                        padding: 40px 0 20px;
                        width: auto;
                        margin: 0;
                        font-weight: 600;
                        font-size: 16px;
                        text-align: left;
                    }
                    .hash-tag {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 10px 5px;
                        a {
                            display: inline-flex;
                            align-items: center;
                            box-sizing: border-box;
                            height: 24px;
                            padding: 3px 10px;
                            font-size: 12px;
                            line-height: 1.5;
                            white-space: nowrap;
                            color: #009d5e;
                            border: 0.1rem solid #009d5e;
                            border-radius: 14px;
                        }
                    }
                    &.on {
                        display: none;
                    }
                }
            }
        }
        .btn-close {
            position: absolute;
            top: 40px;
            right: 40px;
            width: 32px;
            height: 32px;
            font-size: 0;
            background: url(../../../public/images/ico_close32_black.png) no-repeat 50% 50%;
            border: none;
            cursor: pointer;
        }
    }
}