#section8 {
    width: 100%;
    .container {
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        position: relative;
        padding: 100px 0;
        .h-group {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 30px;
            h2 {
                display: inline-block;
                align-items: center;
                font-size: 24px;
                line-height: 1.33em;
                letter-spacing: -0.01em;
                font-weight: 600;
                color: #000;
            }
            .btn-arr {
                display: inline-flex;
                align-items: center;
                font-size: 14px;
                line-height: 1.43em;
                letter-spacing: -0.01em;
                color: #000;
                border: 0;
                background: #fff;
                &::after {
                    display: block;
                    content: '';
                    width: 16px;
                    height: 16px;
                    margin-left: 5px;
                    background: url(../../../../public/images/arr_r16_black.png);
                }
            }
        }
        .slide-view {
            width: 100%;
            overflow: hidden;
            .slide-wrap {
                width: 100% * 30;
                display: flex;
                position: relative;
                .slide {
                    width: 240px;
                    margin-right: 20px;
                    .nail {
                        width: 100%;
                        height: 320px;
                        position: relative;
                        overflow: hidden;
                        &:hover {
                            .img {
                                .over-flip {
                                    height: 100%;
                                    opacity: 1;
                                }
                            }
                            .btn-icon-box {
                                transform: translateY(-100%);
                            }
                        }
                        a {
                            .img {
                                position: relative;
                                width: 100%;
                                height: 100%;
                                img {
                                    width: 100%;
                                    height: 100%;
                                    position: absolute;
                                    left: 0;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    background: #fff;
                                }
                                .over-flip {
                                    display: block;
                                    overflow: hidden;
                                    position: absolute;
                                    left: 0;
                                    top: 50%;
                                    z-index: 1;
                                    width: 100%;
                                    height: 0;
                                    transform: translateY(-50%);
                                    opacity: 0;
                                    transition: height 0.3s ease-in-out opacity 0.5s ease-in-out;
                                    will-change: height;
                                    img {
                                        width: 240px;
                                        height: 320px;
                                        position: absolute;
                                        left: 0;
                                        top: 50%;
                                        transform: translateY(-50%);
                                        background: #fff;
                                    }
                                }
                            }
                        }
                        .btn-icon-box {
                            height: 60px;
                            gap: 45px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            position: absolute;
                            left: 0;    
                            top: 100%;
                            z-index: 3;
                            width: 100%;
                            transition: transform 0.3s ease-in-out;
                            background-color: #00bc70;
                            button {
                                width: 32px;
                                height: 32px;
                                overflow: visible;
                                cursor: pointer;
                                border: 0;
                                border-radius: 0;
                                color: inherit;
                                outline: 0;
                                &.btn-heart {
                                    background: url(../../../../public/images/icon_heart_white.png) no-repeat center;
                                }
                                &.btn-cart {
                                    background: url(../../../../public/images/icon_cart_white.png) no-repeat center;
                                }
                                &.btn-buy {
                                    background: url(../../../../public/images/icon_buy_white.png) no-repeat center;
                                }
                            }
                        }
                    }
                    a {
                        .info {
                            margin-top: 20px;
                            .name {
                                display: -webkit-box;
                                overflow: hidden;
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 1.43em;
                                color: #666;
                                text-overflow: ellipsis;
                                -webkit-box-orient: vertical;
                                -webkit-line-clamp: 2;
                                strong {
                                    font-weight: 600;
                                    text-transform: uppercase;
                                }
                            }
                            .price-box {
                                margin-top: 10px;
                                display: flex;
                                flex-wrap: wrap;
                                align-items: center;
                                .price {
                                    font-weight: 700;
                                    font-size: 20px;
                                    line-height: 1.2em;
                                    color: #000;
                                }
                                .sale {
                                    margin-left: 10px;
                                    font-weight: 300;
                                    font-size: 20px;
                                    line-height: 1.2em;
                                    color: #f00;
                                }
                                .cost {
                                    margin-left: 15px;
                                    font-weight: 300;
                                    font-size: 14px;
                                    line-height: 1.29em;
                                    text-decoration-line: line-through;
                                    color: #999;
                                    letter-spacing: 0;
                                }
                            }
                            .hash-box {
                                display: flex;
                                flex-wrap: wrap;
                                gap: 5px;
                                margin-top: 20px;
                                button {
                                    display: inline-flex;
                                    align-items: center;
                                    height: 20px;
                                    padding: 0 8px;
                                    font-size: 10px;
                                    line-height: 1.2em;
                                    letter-spacing: -0.02em;
                                    color: #009d5e;
                                    border-radius: 100px;
                                    background: none;
                                    background-color: #edfff8;
                                    overflow: visible;
                                    cursor: pointer;
                                    border: 0;
                                }
                            }
                            .star-grade {
                                display: flex;
                                align-items: center;
                                margin-top: 15px;
                                font-size: 12px;
                                line-height: 1.33em;
                                color: #999e9c;
                                &::before {
                                    display: block;
                                    content: '';
                                    width: 12px;
                                    height: 12px;
                                    margin-right: 5px;
                                    background: url(../../../../public/images/ico_star.png) no-repeat 50% 50%;
                                }
                            }
                        }
                    }
                }
            }
            .page-nation {
                position: relative;
                left: 0;
                top: 0;
                z-index: 1;
                width: 100%;
                height: 1px;
                margin-top: 61px;
                background-color: #ddd;
                .fill {
                    position: absolute;
                    left: 0;
                    top: -1px;
                    width: 100%;
                    height: 2px;
                    background-color: #000;
                    transform-origin: left top;
                    transform: translate3d(0, 0, 0) scaleX(0.05) scaleY(1);
                    transition-duration: 400ms;
                }
            }
            .slide-control {
                position: absolute;
                width: 100%;
                top: 50%;
                left: 0;
                button{
                    width: 32px;
                    height: 32px;
                    background: url(../../../../public/images/arr_r32_black.png) no-repeat 50% 50%;
                    overflow: visible;
                    cursor: pointer;
                    border: 0;
                    border-radius: 0;
                    outline: none;
                    position: absolute;
                    top: 0;
                    transform: translateY(-50%);
                    &.btn-prev {
                        left: -80px;
                        transform: rotate(180deg);
                    }
                    &.btn-next {
                        right: -80px;
                    }
                }
            }
        }
    }
}